{% extends 'base.html' %}
{% load static %}
{% block title %}Deepfake Detection - Audio{% endblock %}
{% block content %}

<div class=" min-h-screen flex items-center justify-center">
    <div class="max-w-md mx-auto p-8 bg-white shadow-md rounded-lg form-container">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Deepfake Detector - Audio</h1>
        <p class="text-gray-600 mb-8 text-center">Upload an audio file to check for deepfake manipulation.</p>

        <form id="deepfake-upload-form" method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-gradient-to-r from-blue-500 to-purple-500 text-white py-3 px-6 rounded-lg font-medium hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-600 transition duration-300">
                Analyze
            </button>
        </form>

        <div id="results-container" class="mt-8 ">
            <h2 class="text-2xl font-semibold mb-4 text-gray-800">Detection Results</h2>
            <div id="wait" class="p-6 bg-gray-100 rounded-lg hidden">
                <p class="text-gray-600">Analyzing...</p>
            </div>
            <div id="error" class="p-6 bg-red-100 text-red-500 font-medium rounded-lg hidden"></div>
            <div id="response" class="p-6 bg-gray-100 rounded-lg hidden">
                <h3 class="text-xl font-semibold mb-2">Waveform</h3>
                <img id="waveform-image" src="" alt="Waveform Image" class="w-full rounded-lg shadow-sm">

                <h3 class="text-xl font-semibold mb-2">Spectrogram</h3>
                <img id="spectrogram-image" src="" alt="Spectrogram Image" class="w-full rounded-lg shadow-sm">

                <h3 class="text-xl font-semibold mb-2">Model Prediction</h3>
                <p id="prediction" class="text-lg font-medium"></p>
            </div>
        </div>

        <!-- <div id="uploaded-files-container" class="mt-8">
            <h2 class="text-2xl font-semibold mb-4 text-gray-800">Uploaded Files</h2>
            <ul class="list-disc list-inside space-y-2">
                {% for media in media_files %}
                <li>
                    {{ media.media_type }}: <a href="{{ media.file.url }}" class="text-blue-500 hover:underline">{{ media.file.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div> -->
    </div>
</div>

<script>
    document.getElementById('deepfake-upload-form').addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        const resultsContainer = document.getElementById('results-container');
        const wait = document.getElementById('wait');
        const responseDiv = document.getElementById('response');
        const errorDiv = document.getElementById('error');
        // resultsContainer.classList.add('hidden');
        responseDiv.classList.add('hidden');
        errorDiv.classList.add('hidden');
        wait.classList.remove('hidden');
        fetch('/api/audio/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            wait.classList.add('hidden');
            responseDiv.classList.remove('hidden');
            // resultsContainer.classList.remove('hidden');
            document.getElementById('waveform-image').src = data.waveform_url;
            document.getElementById('spectrogram-image').src = data.spectrogram_url;
            document.getElementById('prediction').textContent = `Label: ${data.label}, Confidence: ${data.confidence}`;
        })
        .catch(error => {
            wait.classList.add('hidden');
            errorDiv.textContent = `Error during analysis: ${error.message}`;
            errorDiv.classList.remove('hidden');
        });
    });
</script>
{% endblock %}