{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen form-container">
    <div
      class="w-full max-w-md p-8 space-y-6 bg-gray-800 rounded shadow-lg"
    >
      <h2 class="text-center text-3xl font-extrabold text-white">
        Sign in to DeepFake Detection
      </h2>

      <!-- Display messages if any -->
      {% if messages %} {% for message in messages %}
      <div class="p-3 rounded text-white bg-{{ message.tags }}-500">
        {{ message }}
      </div>
      {% endfor %} {% endif %}

      <form method="POST">
        {% csrf_token %}
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="mb-4">
            <label for="id_username" class="sr-only">Username</label>
            {{ form.username }}
          </div>
          <div class="mb-4">
            <label for="id_password" class="sr-only">Password</label>
            {{ form.password }}
          </div>
        </div>
       
    {% if form.errors %}
    <div class="p-3 rounded bg-red-500 text-white">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}


        <button
          type="submit"
          class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          Login
        </button>
        <p class="mt-4 text-center text-sm">
          Don't have an account?
          <a
            href="{% url 'register' %}"
            class="font-medium text-blue-400 hover:text-blue-500"
            >Register here</a
          >
        </p>
      </form>
    </div>
  </div>
{% endblock %}
